* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
}

:root{
  --index: calc(1vw + 1vh);
  --color-header: #f4efec;
  --color-text: #cdc6c3;
}
@font-face {
  font-family: raleway-a;
  src: url(../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: outfit-a;
  src: url(../fonts/outfit-regular.woff2);
}

h1, h2, h3, h4, h5, h6 {
  font-family: arial;
}
/* will-change */
.content, .main-title{
  will-change: transform;
}
body{
  background-image: url(../img/bg.jpg);
  background-size: 50px;
  color: #fafafa;
  font-family: raleway-a;
  overflow-x: hidden;
}
.head_picture{
  width: 100vw;
  height: 100vh;
  position: absolute;
}
.main-header{
  height: 100vh;
}
.container{
  padding: 0 10vw;
}
.main-title{
  font-size: calc(var(--index)*3);
  position: absolute;
  left: 30vw;
  top: 25vh;
}
.main-header-img{
  width: calc(var(--index) * 40);
  position: absolute;
  display: block;
  bottom: 10vh;
}
.scroll_element{
  font-size: calc(var(--index)-5);
  display: flex;
  text-align: center;
  overflow-x: auto;
}
.wars_scroll_img{
  margin-top: 20px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 15px;
  height: 25vh;
  box-shadow: 0 0 10px 5px black;
}
.wars_scroll_img:hover{
  box-shadow: 0 0 10px 10px black;
}
.scroll_text{
  font-size: calc(var(--index));
}
.wars_div{
  font-size: calc(var(--index))
  border: none;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 0 20px 5px black;
  display: none;
}
.wars_header{
  font-size: 150%;
  text-align: center;
  margin-top: 50px;
}
.hero_scroll_img{
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  height: 40vh;
  box-shadow: 0 0 10px 5px black;
  display: block;
}
.hero_scroll_img:hover{
  box-shadow: 0 0 10px 10px black;
}
.hero_div{
  font-size: calc(var(--index))
  border: none;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 0 0 20px 5px black;
  display: block;
}
.hero_div_img{
  height: calc(var(--index)*15);
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 15px 3px black;
}
.hero_div_header{
  font-size: 150%;
  margin-left: 15px;
}
.hero_div_header_list{
  margin-left: 10px;
}
#main{
  box-shadow: 0 0 100px 20px black;
}
.newSite{
  border-radius: 8px;
  border: solid 3px gray;
  text-decoration: none;
  color: white;
}
.newSite:hover{
  background-color: #5c5c5c;
}
.main-img{
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 20px 2px black;
  margin-bottom: 15px;
}

/* Оптимизация под тапки */
@media screen and (max-width: 768px){
  .container{
    padding: 0;
  }

}
